<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>QualitySalesOnline</title>
    <meta name="description" content="">
    <meta name="viewport" content=" initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

   <script>
     function Prueba() {
       swal({   title: "Estas Seguro?",
                text: "Esta Abandonando la sesion",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, Salir!",
                closeOnConfirm: false },
               function(){
                  swal("Desloqueado!", "Ha sido Desloqueado", "success");
               });

     }
   </script>

  </head>
  <body ng-app="projectPedidosApp" layout="column">
  <!--[if lt IE 7]
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <md-toolbar class="titulo-toolbar  blue lighten-2" layout="row" ng-controller="indexCtrl" >

    <md-button hide-gt-md ng-click="toggleLeft()"  aria-label="toggle"  ng-show="globals.currentUser.authLog">
      <i class="mdi-navigation-menu"></i>

    </md-button>
    <i class="small mdi-action-shopping-basket" style="margin: auto 0;"></i>

    <h2 class="md-toolbar-tools" >
      <span>Pedidos Online</span>
    </h2>


    <form accept-charset="UTF-8" name="form" ng-submit="logout()" role="form">
      <div class="fixed-action-btn" style="top: 2px; right: 24px;" ng-show="globals.currentUser.authLog">
      <button type="submit" class=" btn-floating blue"  ng-="logout()"><i class="large  mdi-action-settings-power "  ></i></button>
    </div>
    </form>
  </md-toolbar>



  <div layout="row" flex  >

    <md-sidenav  md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left md-whiteframe-z2 #212121 grey darken-4" layout="column" ng-show="globals.currentUser.authLog">
      <br>
      <md-button class="waves-effect waves-light  efecto "  ng-href="#/home" ng-click="toggleLeft()"   aria-label="toggle"  style="text-align: left;"><i class="small mdi-action-home" ></i>Inicio</md-button>
      <md-button class="waves-effect waves-light  efecto" ng-href="#/clientes" class="menu-item-link " style="text-align: left;"><i class="small mdi-action-assignment" ></i> Nuevo Pedido</md-button>
     <!-- <md-button ng-href="#/proveedores">Proveedores</md-button>-->
      <md-button class="waves-effect waves-light  efecto" ng-href="#/compras" class="" style="text-align: left;"><i class="small mdi-action-shopping-basket"></i> Pedidos </md-button>
      <md-button class="waves-effect waves-light  efecto" ng-href="#/facturas" style="text-align: left;"><i class="small mdi-action-wallet-travel"></i> Inventarios</md-button>
      <md-button class="waves-effect waves-light  efecto" ng-href="#/productos" class="" style="text-align: left;">Productos</md-button>
      <!---<md-button class="waves-effect waves-light efecto" ng-href="#/ventas" class="" style="text-align: left;">Ventas</md-button>-->



    </md-sidenav>

    <style>
      .identity {
        display: inline-block;
        min-width: 250px;
        bottom: 45px;
        right: 24px
      }
      .identity img {
        float: left;
        display: inline-block;
        vertical-align: top;
        width: 80px;
        margin-right: 15px;
        border-radius: 100%;
      }
      .identity .name {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 3px;
        color:white;
      }
      .identity .info {
        color: #888;
      }

    </style>




    <md-content class="content" flex>
      <br>
      <div ng-view=""></div>
    </md-content>
  </div>

  <footer style="background: #212121" ng-show="globals.currentUser.authLog" >
    <div class="bottom pull-right">
      <!-- identity -->
      <div class="identity">
        <img src="http://iconizer.net/files/Bunch_of_Bluish_Icons/orig/user.png" />
        <span class="name">Jhon Barranco</span> <br/>
        <span class="info">Vendedor </span> <br/>
        <span class="info">654789 ventas</span>

      </div>
      </div>
    <span  style="font-size: 19px;text-align: center;color:white" ><p>  © Quality Systems Grup</p></span>
  </footer>



  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/oldieshim.js -->
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <![endif]-->
  <!-- endbuild -->

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/materialize/bin/materialize.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/services/clientes.js"></script>
  <script src="scripts/services/proveedores.js"></script>
  <script src="scripts/controllers/clientes.js"></script>
  <script src="scripts/controllers/proveedores.js"></script>
  <script src="scripts/controllers/compras.js"></script>
  <script src="scripts/controllers/servicios.js"></script>
  <script src="scripts/controllers/productos.js"></script>
  <script src="scripts/controllers/almacen.js"></script>
  <script src="scripts/controllers/facturas.js"></script>
  <script src="scripts/services/compras.js"></script>
  <script src="scripts/services/servicios.js"></script>
  <script src="scripts/services/productos.js"></script>
  <script src="scripts/services/almacen.js"></script>
  <script src="scripts/services/facturas.js"></script>

  <script src="scripts/controllers/auth.js"></script>
  <script src="scripts/services/auth.js"></script>

  <!-- endbuild -->
  <script type="application/javascript">
    'use strict';
    angular.module('projectPedidosApp')
      .controller('indexCtrl', function ($scope, $mdSidenav) {
        $scope.toggleLeft = function() {
          $mdSidenav('left').toggle();

        };
      });


  </script>
</body>
</html>
