<md-dialog aria-label="Cliente">
  <md-content class="sticky-container" style="width: 600px;padding: 24px;">
    <div class="dialog-content">
      <md-content>
       <div class="alert alert-info"> <span class="glyphicon glyphicon-info-sign"></span><p>Usted Ha seleccionado a   </br>    {{newCliente.nombreCom}}</p></div>

        </md-content>
    </div>
</md-content>
  <md-content layout="row">
    <div class="md-actions" layout="row" flex>
      <md-button ng-click="continuar()" class="md-primary btn-success">
        <span class="glyphicon glyphicon-ok-sign"></span>  Continuar
      </md-button>
      <md-button ng-click="cancel()" class="btn btn-default">
        <span class="glyphicon glyphicon-ban-circle"></span>  Cancelar
      </md-button>
    </div>
  </md-content>
</md-dialog>


