<md-content layout-margin layout-padding>

  <h3>Clientes</h3>

  <md-input-container >
    <label>Buscar</label>
    <input ng-model="searchText"  placeholder="" >
  </md-input-container>

  <table class="hoverable bordered">
      <thead>
        <tr>


          <th data-field="NIT">NIT</th>
          <th data-field="NombreCom">Razon Social</th>
          <th data-field="direccion">Direccion</th>
        </tr>
      </thead>
      <tbody ng-repeat="cliente in clientes | filter: searchText" >
        <tr ng-click="diaogNewUser($event, cliente);">
          <td>{{cliente.cedula}}</td>
          <td>{{cliente.nombreCom}}</td>
          <td>{{cliente.direccion}}</td>

        </tr>
      </tbody>
    </table>

</md-content>


