<link rel="stylesheet" href="styles/inicio.css">
<script src="scripts/funcion/main.js"></script>
<div style="width: 60%;margin: 0 auto">
<h1 >PEDIDOS ONLINE</h1>
</div>
<p class="clock">
  <span class="clock-block hour">
    <span class="clock-val"></span>
    <span class="clock-unit">hours</span>
  </span>
  <span class="clock-block minute">
    <span class="clock-val"></span>
    <span class="clock-unit">minutes</span>
  </span>
  <span class="clock-block second">
    <span class="clock-val"></span>
    <span class="clock-unit">seconds</span>
  </span>
</p>
<div class='container'>

  <div class='card energy  text-center colorcart' >

      <span><i class="large mdi-action-shopping-cart"></i></span>


    <div class='inner'>
      <div class='title'>
        <div class='text'> PEDIDOS</a></div>
      </div>
      <div class='number'>45</div>
      <div class='measure'>relizados</div>
    </div>
  </div>
</div>

